@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Didact+Gothic&display=swap');

body{
 
    
}
#tudo{

    margin-top: 0px;
    
    margin-left: 70px;
   
    
}
form{
    margin: 5%;
    width: 30%; /* Ajuste a largura dos formulários para ocupar 46% para deixar um espaço entre eles */
    text-align: left;
    border: 5px solid #EFEFEF;
    padding: 2%;
    font-family: 'Didact Gothic', sans-serif;
    margin-bottom: 2%; 
    background-color: #dbdada;
    border-radius: 30px;
    position: relative;
    text-align: left;
    margin-top: 3%;
}
#formulario{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    padding: 0px;
    width:100%;
    margin-left: 2% ;
}
#form1{
    margin-left: 5%;
}
#form3{
    margin-left: 5%;
}
#form4{
    margin-right: 0px;
}
#form2{
    margin-right: 0px;
}

h1{
    font-family: 'Chonburi', cursive;
    font-size: 55px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0px;
    margin: 10px;
    background-color: #13192100;
    text-align: center;



}
p{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}
label{
    font-size: 25px;
    text-align: left;
}
button{
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-color: #131921;
    background-color: #131921;
    color: white;
    cursor: pointer;
    font-family: 'Cinzel Decorative', cursive;
    justify-self: center;
    
}
.botao{
    display: flex;
    justify-content: center;
}
.subtitulo{
    width: 40%; /* Ajuste a largura dos formulários para ocupar 46% para deixar um espaço entre eles */
    text-align: left;
    border: 5px solid #EFEFEF;
    margin: 2%;
    padding-left: 3%;
    margin-left: 0PX;
    font-family: 'Didact Gothic', sans-serif;
    background-color: #8d8d8db6;
    border-radius: 30px;
    position: relative;
    text-align: left;
    font-size: 40px;
    font-weight:400;
    text-transform: uppercase;
    color: white;


}
img{
    height: 45%;
    width: 70%;
}
.imagens{
   
}


#ng-container{
    display: flex;
    justify-content: center;
}
