<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">

  <title>Document</title>
</head>

<body>

  <div *ngIf="paginaAtual === 'quiz'">
    <h1>QUIZ COLORAÇÃO PESSOAL</h1>

    <div id="tudo">
      <p>Responda as questões a seguir e descubra a sua paleta ideal e as melhores formas de combinar cores e se vestir
        melhor!</p>
      <div id="formulario">
        <form id="form1">
          <p>Qual é o seu tom de pele?</p>
          <input type="radio" id="pele1" name="pele" value="fria">
          <label for="pele1">Fria</label><br>
          <input type="radio" id="pele2" name="pele" value="quente">
          <label for="pele2">Quente</label><br>
          <input type="radio" id="pele3" name="pele" value="neutra">
          <label for="pele3">Neutra</label><br>
        </form>
        <form id="form2">
          <p>Qual é o seu tom de cabelo?</p>
          <input type="radio" id="cabelo1" name="cabelo" value="preto">
          <label for="cabelo1">Preto</label><br>
          <input type="radio" id="cabelo2" name="cabelo" value="castanho">
          <label for="cabelo2">Castanho</label><br>
          <input type="radio" id="cabelo3" name="cabelo" value="ruivo">
          <label for="cabelo3">Ruivo</label><br>
          <input type="radio" id="cabelo4" name="cabelo" value="loiro">
          <label for="cabelo4">Loiro</label><br>
        </form>

        <form id="form3">
          <p>Qual é a cor dos olhos?</p>
          <input type="radio" id="olhos1" name="olhos" value="verde">
          <label for="olhos1">Verde</label><br>
          <input type="radio" id="olhos2" name="olhos" value="azul">
          <label for="olhos2">Azul</label><br>
          <input type="radio" id="olhos3" name="olhos" value="castanho">
          <label for="olhos3">Castanho</label><br>
          <input type="radio" id="olhos4" name="olhos" value="preto">
          <label for="olhos4">Preto</label><br>
        </form>

        <form id="form4">
          <p>Qual é a cor das veias?</p>
          <input type="radio" id="veias1" name="veias" value="verde">
          <label for="veias1">Verde</label><br>
          <input type="radio" id="veias2" name="veias" value="azul">
          <label for="veias2">Azul</label><br>
        </form>
      </div>
    </div>

    <div class="botao">
      <button (click)="salvarRespostas()">mostrar resultados</button>
    </div>


  </div>

  <div *ngIf="paginaAtual === 'resultados'">

    <div class="subtitulo">Sua paleta de cores é:</div>
    <h1 class="resposta">{{ textoEspecifico }}</h1>
    <!-- <p>Tom de pele: {{ respostas?.respostaPele }}</p>
    <p>Tom de cabelo: {{ respostas?.respostaCabelo }}</p>
    <p>Cor dos olhos: {{ respostas?.respostaOlhos }}</p>
    <p>Cor das veias: {{ respostas?.respostaVeias }}</p>  -->
    
  <ng-container *ngIf="textoEspecifico === 'Primavera Quente'" class="imagens">
    <div class="imagensRespostas">
        <img [src]="'src/assets/primaveraq.jpg'">
    </div>
    <div class="subtitulo">Sua cor para acessórios é:</div>
    <div class="imagensRespostas">
      <img [src]="'src/assets/dourado.jpg'" class="joias">
    </div>
  </ng-container>
    <ng-container *ngIf="textoEspecifico === 'Primavera Intensa'">
      <div class="imagensRespostas">
        <img [src]="'src/assets/primaverai.jpg'">
      </div>
      <div class="subtitulo">Sua cor para acessórios é:</div>
      <div class="imagensRespostas">
        <img [src]="'src/assets/dourado.jpg'" class="joias">
      </div>
    </ng-container>
    <ng-container *ngIf="textoEspecifico === 'Primavera Clara'">
      <div class="imagensRespostas">
        <img [src]="'src/assets/primaverac.jpg'">
      </div>
      <div class="subtitulo">Sua cor para acessórios é:</div>
      <div class="imagensRespostas">
        <img [src]="'src/assets/prata.jpg'" class="joias">
      </div>
    </ng-container>
    <ng-container *ngIf="textoEspecifico === 'Outono Quente'">
      <div class="imagensRespostas">
        <img [src]="'src/assets/outonoq.jpg'">
      </div>
      <div class="subtitulo">Sua cor para acessórios é:</div>
      <div class="imagensRespostas">
        <img [src]="'src/assets/dourado.jpg'" class="joias">
      </div>
    </ng-container>
    <ng-container *ngIf="textoEspecifico === 'Outono Profundo'">
      <div class="imagensRespostas">
        <img [src]="'src/assets/outonop.jpg'">
      </div>
      <div class="subtitulo">Sua cor para acessórios é:</div>
      <div class="imagensRespostas">
        <img [src]="'src/assets/dourado.jpg'" class="joias">
      </div>
    </ng-container>
    <ng-container *ngIf="textoEspecifico === 'Outono Intenso'">
      <div class="imagensRespostas">
        <img [src]="'src/assets/outonoi.jpg'">
      </div>
      <div class="subtitulo">Sua cor para acessórios é:</div>
      <div class="imagensRespostas">
        <img [src]="'src/assets/prata.jpg'" class="joias">
      </div>
    </ng-container>
    <ng-container *ngIf="textoEspecifico === 'Verão Puro'">
      <div class="imagensRespostas">
        <img [src]="'src/assets/veraop.jpg'">
      </div>
      <div class="subtitulo">Sua cor para acessórios é:</div>
      <div class="imagensRespostas">
        <img [src]="'src/assets/prata.jpg'" class="joias">
      </div>
    </ng-container>
    <ng-container *ngIf="textoEspecifico === 'Verão Claro'">
      <div class="imagensRespostas">
        <img [src]="'src/assets/veraoclaro.jpg'">
      </div>
      <div class="subtitulo">Sua cor para acessórios é:</div>
      <div class="imagensRespostas">
        <img [src]="'src/assets/prata.jpg'" class="joias">
      </div>
    </ng-container>
    <ng-container *ngIf="textoEspecifico === 'Verão Quente'">
      <div class="imagensRespostas">
        <img [src]="'src/assets/veraoq.jpg'">
      </div>
      <div class="subtitulo">Sua cor para acessórios é:</div>
      <div class="imagensRespostas">
        <img [src]="'src/assets/prata.jpg'" class="joias">
      </div>
    </ng-container>
    <ng-container *ngIf="textoEspecifico === 'Inverno Profundo'">
      <div class="imagensRespostas">
        <img [src]="'src/assets/invernoprof.jpg'">
      </div>
      <div class="subtitulo">Sua cor para acessórios é:</div>
      <div class="imagensRespostas">
        <img [src]="'src/assets/prata.jpg'" class="joias">
      </div>
    </ng-container>
    <ng-container *ngIf="textoEspecifico === 'Inverno Suave'">
      <div class="imagensRespostas">
        <img [src]="'src/assets/invernosuave.jpg'">
      </div>
      <div class="subtitulo">Sua cor para acessórios é:</div>
      <div class="imagensRespostas">
        <img [src]="'src/assets/prata.jpg'" class="joias">
      </div>
    </ng-container>
    <ng-container *ngIf="textoEspecifico === 'Inverno Puro'">
      <div class="imagensRespostas">
        <img [src]="'src/assets/invernopuro.jpg'">
      </div>
      <div class="subtitulo">Sua cor para acessórios é:</div>
      <div class="imagensRespostas">
        <img [src]="'src/assets/prata.jpg'" class="joias">
      </div>
    </ng-container>

    <button (click)="trocarPagina('quiz')">voltar para o quiz</button>
  </div>


</body>

</html>