@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Didact+Gothic&display=swap');
#tudo {
    margin-left: 70px;
  }
 
  form {
    margin: 5%;
    width: 30%;
    text-align: left;
    border: 5px solid #EFEFEF;
    padding: 2%;
    font-family: 'Didact Gothic', sans-serif;
    margin-bottom: 2%;
    background-color: #dbdada;
    border-radius: 30px;
    position: relative;
    margin-top: 3%;
  }
 
  #formulario {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 2%;
  }
 
  h1 {
    font-family: 'Chonburi', cursive;
    font-size: 55px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0;
    margin: 10px;
    background-color: #13192100;
    text-align: center;
  }
 
  p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
 
  label {
    font-size: 25px;
    text-align: left;
  }
 
  button {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-color: #131921;
    background-color: #131921;
    color: white;
    cursor: pointer;
    font-family: 'Cinzel Decorative', cursive;
    justify-self: center;
  }
 
  .botao {
    display: flex;
    justify-content: center;
  }
 
  .subtitulo {
    width: 40%;
    text-align: left;
    border: 5px solid #EFEFEF;
    margin: 2%;
    padding-left: 3%;
    margin-left: 0;
    font-family: 'Didact Gothic', sans-serif;
    background-color: #8d8d8db6;
    border-radius: 30px;
    position: relative;
    text-align: left;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
  }
 
  img {
    height: 45%;
    width: 70%;
    justify-content: center;
    margin: 0;
  }
  .texto_modal{
    text-align: justify;
    font-size: 2  5px;

  }
 
  .joias {
    height: 15%;
    width: 35%;
    margin: 0;
    margin-bottom: 10px;
  }
 
  .imagensRespostas {
    display: flex;
    justify-content: center;
  }
 
  #ng-container {
    display: flex;
    justify-content: center;
  }
  .botao_modal{
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;

  }
  .imagem_modal{
    margin-left: 80px;
  }
 

