
<div id="Login" *ngIf="pagina === 'login'">
    <input type="email" placeholder="E-mail" [(ngModel)]="cadastro.email">
    <br>
    <input type="password" placeholder="Senha" [(ngModel)]="cadastro.senha">
    <br>
    <h5 (click)="valida()">Não possuo conta</h5>
      <a href="http://localhost:4200/quiz"><button (click)="login()" (click)="cadastrarCategorias()">COMEÇAR TESTE</button></a>

      <div *ngIf="contaCadastrada===1">
        <p>{{contaLogada.email}}</p>
        <p>TESTE</p>
        <h5 (click)="logout()">Sair</h5>
      </div>
  
    </div>
  
  <div id="Cadastro" *ngIf="pagina === 'cadastro'">
    <h1>CADASTRE-SE</h1>
  
    <h4>E-mail</h4>
    <input type="email" placeholder="Ex: maria_silva@dominio.com" [(ngModel)]="cadastro.email">
  
    <h4>Senha</h4>
    <input type="password" placeholder="Senha" [(ngModel)]="cadastro.senha">
  
    <h4>Nome Completo</h4>
    <input type="text" placeholder="Ex: Maria da Silva" [(ngModel)]="cadastro.nomeCompleto">
  
    <h4>Data Nascimento</h4>
    <input type="date" name="">
  
    <h4>Gênero</h4>
    <input type="checkbox" [(ngModel)]="generoFeminino"> Feminino
    <input type="checkbox" [(ngModel)]="generoMasculino"> Masculino
  
    <br><br>
    <h5 (click)="valida()">Já possuo conta</h5>
    <br>
  
    <button (click)="cadastrar()" (click)="valida()">COMEÇAR TESTE</button>
  </div>
  
