<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <div id="Login" *ngIf="pagina === 'login'">
    <h1>faça login</h1>
    <div class="meio">
      <input type="email" placeholder="E-mail" [(ngModel)]="cadastro.email" id="cima">
      <br>
      <input type="password" placeholder="Senha" [(ngModel)]="cadastro.senha" id="baixo">
      <br>
      <h5 (click)="valida()">Não possuo conta</h5>
      <div id="comecarTeste"><button 
        (click)="login()" (click)="cadastrarCategorias()">COMEÇAR TESTE</button></div>
    </div>
  </div>

   <div *ngIf="paginaAtual==='resultados'">
    {{contaLogada.tipoPaleta}}
    <ng-container *ngIf="contaLogada.tipoPaleta === 'Primavera Quente'" class="imagens">
      <img [src]="'src/assets/primaveraq.jpg'">
      <div class="subtitulo">Sua cor para acessórios é:</div> 
      <img [src]="'src/assets/dourado.jpg'" class="joias">
    </ng-container>
    <ng-container *ngIf="contaLogada.tipoPaleta === 'Primavera Intensa'">
      <img [src]="'src/assets/primaverai.jpg'">
      <div class="subtitulo">Sua cor para acessórios é:</div> 
      <img [src]="'src/assets/dourado.jpg'" class="joias">
    </ng-container>
    <ng-container *ngIf="contaLogada.tipoPaleta === 'Primavera Clara'">
      <img [src]="'src/assets/primaverac.jpg'">
      <div class="subtitulo">Sua cor para acessórios é:</div> 
      <img [src]="'src/assets/prata.jpg'" class="joias">
    </ng-container>
    <ng-container *ngIf="contaLogada.tipoPaleta === 'Outono Quente'">
      <img [src]="'src/assets/outonoq.jpg'">
      <div class="subtitulo">Sua cor para acessórios é:</div> 
      <img [src]="'src/assets/dourado.jpg'" class="joias">
    </ng-container>
    <ng-container *ngIf="contaLogada.tipoPaleta === 'Outono Profundo'">
      <img [src]="'src/assets/outonop.jpg'">
      <div class="subtitulo">Sua cor para acessórios é:</div> 
      <img [src]="'src/assets/dourado.jpg'" class="joias">
    </ng-container>
    <ng-container *ngIf="contaLogada.tipoPaleta === 'Outono Intenso'">
      <img [src]="'src/assets/outonoi.jpg'">
      <div class="subtitulo">Sua cor para acessórios é:</div> 
      <img [src]="'src/assets/prata.jpg'" class="joias">
    </ng-container>
    <ng-container *ngIf="contaLogada.tipoPaleta === 'Verão Puro'">
      <img [src]="'src/assets/veraop.jpg'">
      <div class="subtitulo">Sua cor para acessórios é:</div> 
      <img [src]="'src/assets/prata.jpg'" class="joias">
    </ng-container>
    <ng-container *ngIf="contaLogada.tipoPaleta === 'Verão Claro'">
      <img [src]="'src/assets/veraoclaro.jpg'">
      <div class="subtitulo">Sua cor para acessórios é:</div> 
      <img [src]="'src/assets/prata.jpg'" class="joias">
    </ng-container>
    <ng-container *ngIf="contaLogada.tipoPaleta === 'Verão Quente'">
      <img [src]="'src/assets/veraoq.jpg'">
      <div class="subtitulo">Sua cor para acessórios é:</div> 
      <img [src]="'src/assets/prata.jpg'" class="joias">
    </ng-container>
    <ng-container *ngIf="contaLogada.tipoPaleta === 'Inverno Profundo'">
      <img [src]="'src/assets/invernoprof.jpg'">
      <div class="subtitulo">Sua cor para acessórios é:</div> 
      <img [src]="'src/assets/prata.jpg'" class="joias">
    </ng-container>
    <ng-container *ngIf="contaLogada.tipoPaleta === 'Inverno Suave'">
      <img [src]="'src/assets/invernosuave.jpg'">
      <div class="subtitulo">Sua cor para acessórios é:</div> 
      <img [src]="'src/assets/prata.jpg'" class="joias">
    </ng-container>
    <ng-container *ngIf="contaLogada.tipoPaleta === 'Inverno Puro'">
      <img [src]="'src/assets/invernopuro.jpg'">
      <div class="subtitulo">Sua cor para acessórios é:</div> 
      <img [src]="'src/assets/prata.jpg'" class="joias">
    </ng-container>
  </div> 

  <div id="Cadastro" *ngIf="pagina === 'cadastro'">
    <h1>CADASTRE-SE</h1>
    <div class="meio2">
      <h4>E-mail</h4>
      <input type="email" placeholder="Ex: maria_silva@dominio.com" [(ngModel)]="cadastro.email" class="cadastroInput">
  
      <h4>Senha</h4>
      <input type="password" placeholder="Senha" [(ngModel)]="cadastro.senha" class="cadastroInput">
  
      <h4>Nome Completo</h4>
      <input type="text" placeholder="Ex: Maria da Silva" [(ngModel)]="cadastro.nomeCompleto" class="cadastroInput">
  
      <h4>Data Nascimento</h4>
      <input type="date" name="" class="cadastroInput" id="data">
  
      <h4>Gênero</h4>
      <div class="inputDiferente"><input type="checkbox" [(ngModel)]="generoFeminino" class="genero"> Feminino</div>
      <div class="inputDiferente"><input type="checkbox" [(ngModel)]="generoMasculino" class="genero"> Masculino</div>
    </div>
 

  <br><br>
  <h5 (click)="valida()">Já possuo conta</h5>
  <br>
  
  <button (click)="cadastrar()" (click)="valida()">COMEÇAR TESTE</button>
  </div>
</body>
</html>
