<header class="header">
    <nav>
      <a href="http://localhost:4200/telainicial"><button class="botoes" (click)="cadastrarTarefa()">Tela Incial</button></a>
        <a href="http://localhost:4200/conta"><button class="botoes" (click)="cadastrarCategorias()">Conta</button></a>
        <a href="http://localhost:4200/quiz"><button class="botoes" (click)="cadastrarCategorias()">Quiz</button></a>
        <a href="http://localhost:4200/combinacoes"><button class="botoes" (click)="cadastrarCategorias()">Combinações</button></a>
        
    </nav>
  </header>
  <body>
  
  </body>
  <router-outlet></router-outlet>