<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">

</head>
<header>

</header>

<body>
    <div class="principal">
        <div class="esquerda">
            <div class="titulo"><h1>coloração <br> pessoal</h1></div>
            
            <div class="quadrado_cinza">
                
                    Bem-vindo ao nosso mundo de cores! Descubra o poder da coloração pessoal e transforme sua aparência com harmonia e autenticidade.
                        <div class="botao"><a href="http://localhost:4200/conta"><button class="botoes" (click)="cadastrarCategorias()">Fazer login</button></a></div>
            
                    </div>
            </div>
           
   <div class="direita"> 
        <img
            src="https://images.unsplash.com/photo-1581079289196-67865ea83118?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80" style="height: 610px; width: 100%;">
    </div> 
</div>
</body>

</html>