@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
*{
    /* display: grid;
  grid-template-columns: 1fr 1fr; */
  margin: 0;
  padding: 0;
    
    
}


h1{
    font-family: 'Chonburi', cursive;
    font-size: 66px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0px;
    margin: 20px;
    margin-right: 45px;
    background-color: #13192100;
    text-align: center;



}
.esquerda{
    
    padding: 10px;
    display: grid;
    justify-content:left;
    width: 45%;
    background-color: #13192100;
    margin-left: 50px;


}
.direita{
    display: flex;
    width: 50%;
    height: 100%;
    

}
.principal{
 display: flex;
 flex-direction: row;   
 background-color: #13192100;

}

img{
    width: 100%;
    height: 100%;
}
 .botao{
    display: flex;
    justify-content: center;
    margin: 0px;    
    background-color: #13192100;
    position: absolute;
    margin-left: 60%;
    top: 85%;
  transform: translateX(-90%);

 }
button{
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-color: #131921;
    background-color: #131921;
    color: white;
    cursor: pointer;
    font-family: 'Cinzel Decorative', cursive;
    justify-self: center;
    
}
.quadrado_cinza{
    margin-right: 5%;
    display:block;
    width: 93%;
    height: 67%;
    border: 5px solid #EFEFEF;
    padding: 10px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 35px;
    background-color: #dbdada;
    border-radius: 30px;
    position: relative;
    text-align:center;
    margin-top: 0px;

}
.titulo{
    display: inline-block;
    height: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    

}