<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<header>

</header>

<body>
    <div class="principal">
        <div class="esquerda">
            <h1>COLARAÇÃO <br> PESSOAL</h1>
            <div class="quadrado_cinza">
                <div class="texto">
                    Bem-vindo ao nosso mundo de cores! Descubra o poder da coloração pessoal e transforme sua
                        aparência
                        com harmonia e autenticidade.
                </div>
            </div>
            <div><button>Fazer Login</button></div>
            
        </div>
  <!--   <div class="direita"> -->
        <img
            src="https://images.unsplash.com/photo-1581079289196-67865ea83118?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80" style="height: 1000px; width: 1000px;">
   <!--  </div> -->
</div>
</body>

</html>