
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

body{
    background-color: #EFEFEF;
    margin: 0px;
    padding: 0px;
    
}

header{
    background-color: #1D2530;
    padding: 10px;
    display: block;
    justify-content: end;
    border-radius: 1px;
   
    padding-left: 50px;
    

    
}
nav{
    padding: 10px;
   
    background-color: #1D2530;
    justify-content: space-between  ;
    
}
.botoes{
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Cinzel Decorative', cursive;
    text-transform:lowercase;
    padding: 0.5%;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
   
    background-color: #1D2530;
    color: #ffffff;
    cursor: pointer;
    
    
}
a{
    background-color: #1D2530;
    margin-right: 5px
}